/**Mobile First Portrait**/
.heading{
	position: relative;
	height: 90%;
	width: 100%;
	margin: 0 auto;
}

.heading_text {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mock_json {
	display: block;
	margin-left: 20px;
	font-size: 40px;
	line-height: 125%;
}

.nav-menu {
	padding-top: 20px;
	text-align: center;
	height: 10%;

}

.nav-menu ul{
	padding: 0;
}

.menu-items li {
	font-size: 20px;
	display: inline;
}

/**About Me Section**/

.about-me {
	min-height: 100%;
	max-height: auto;
}

.about-me-header {
	text-align: center;
}

.selfie {
	width: 50%;
	height: auto;
	border-radius: 50%;
	display: block;
	margin: 0 auto;	
}

.about-me p {
	font-size: 15px;
}

.education h3 {
	text-align: center;
}

/**Portfolio**/

.portfolio h2 {
	text-align: center;
}

.gallery * {
	padding-bottom: 15px;
	margin: 0 auto;
}