/**Mobile First Portrait**/
.heading {
	position: relative;
	height: 90%;
	width: 100%;
	margin: 0 auto;
}

.heading_text {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mock_json {
	display: block;
	margin-left: 20px;
	font-size: 35px;
	line-height: 125%;
}

.nav-menu {
	padding-top: 20px;
	text-align: center;
	height: 10%;
}

.affix {
	top: 0;
	width: 100%;
	background-color: rgba(50,50,50,0.4);
	z-index: 100;
	margin: 0 auto;
}

.nav-menu ul{
	padding: 0;
}

.nav-menu a{
	text-decoration: none;
	color: #000;
}

.menu-items li {
	font-size: 20px;
	display: inline;
}

/**About Me Section**/

.about-me {
	min-height: 80%;
	max-height: auto;
	padding-bottom: 10px;
}

.about-me-header {
	text-align: center;
}

.selfie {
	width: 50%;
	height: auto;
	border-radius: 50%;
	display: block;
	margin: 0 auto;	
}

.about-me p {
	font-size: 15px;
}

.education-header {
	text-align: center;
}

.education-list {
	list-style-type: none;
}

.skills-header{
	text-align: center;
}

.skills-list p{
	text-align: left;
}

.skills-list {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;	
}

/**Portfolio**/

.portfolio h2 {
	text-align: center;
}

.gallery * {
	padding-bottom: 15px;
	margin: 0 auto;
}


.left{
	display: inline-block;
	width: 100%;
	height: 300px;
	outline: 1px solid black;

}

.left img{
	width: 100%;
	height: 100%;
}

.right img{
	width: 100%;
	height: 100%;
}

.right{
	width: 100%;
	height: 300px;
	outline: 1px solid black;
}

/**Icons**/

.contact h3{
	text-align: center;
}

.icons {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.icons li{
	padding-top: 10px;
}

.icons li a {
	text-decoration: none;
	color: #000;
}

@media (min-width: 600px) {
	body{
		width: 60%;
		margin: 0 auto;
	}

	.selfie {
		width: 300px;
		height: auto;
		border-radius: 5%;
		margin: 0 auto;
	}

	.education {
		margin: 0 auto;
		text-align: center;
	}
	.wrap-edu {
		text-align: center;
	}
	.edu-content{
		display: inline-block;
		text-align: left;
	}

	.skills-list p{
		text-align: center;
	}

	.left{
		width: 50%;
		height: 480px;
		float: left;
	}
	.right{
		width: 50%;
		height: 480px;
		float: right;
	}
}